@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 0%;
    padding: 0%;
}

*:before, *:after{
box-sizing: inherit;
}

a {
text-decoration: none;
color: gray;
}

a:hover{
    text-decoration: underline;
}

Body {
    color: #78757a;
overflow: hidden;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

header {
    width: 100%;
    font-weight:300;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.menu_principal{
    display: flex;
    align-items: center;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border: transparent;
    text-align: center;
    background-color: rgb(217, 214, 214);
    margin: 0 8px;
}

.menu_btn{
    height: 40px;
    width: 40px;
    border-radius: 999px; 
    border: transparent;
    background-color: transparent;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width: 100%
}

.logo{
    height: 5.75rem;
    width: 17rem;
}

.busqueda{
    width: 50%;
   display: flex;
   padding: 4px;
   align-items:center;
   justify-content: space-between;
   border: 1px solid rgb(233, 233, 233);
   border-radius: 999px;
}

.busqueda input{
    padding: 8px 16px;
    margin-left: 4px;
    margin-right: 2px;
    font-size: 18px;
    border: transparent;
    width: 100%;
}

.busqueda span:after{
    content: "🎙️";
    font-size: 25px;
}

.busqueda label:before{
    content: "🔍";
    font-size: 25px;
}

.acciones{
    margin-top: 20px;
}

.acciones button{
    border: transparent;
    background-color: #f8f9fa;
    color: grey;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.acciones button:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

footer{
    background-color:#f2f2f2;
    

}

footer h5{
    font-size: 20px;
    margin: 0;
    margin-left: 16px;

}

.mexico{
    border-bottom: 1px solid gray;
    padding: 20px;

}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    padding: 15px;
    width: 4.3rem;
    height: 1rem;
}